.flex{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 500px;
    margin-left: 500px;
}

.container{
    padding: 120px;
    
}

.flex2{
    display: flex;
    flex-direction: column;
}

#one{
    background-color: brown;
    width: 20px;
    height: 500px;
}

#two{
    background-color: orange;
    width: 300px;
    height: 50px;
}

#three{
    background-color: white;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;

}

#four{
    background-color: green;
    width: 300px;
    height: 50px;
}

#circle{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}

.flex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#fifth{
    background-color: brown;
    height: 30px;
    width: 200px;
    /* position: relative; */

}

#sixth{
    background-color: brown;
    height: 30px;
    width: 300px;

}

#seventh{
    background-color: brown;
    height: 30px;
    width: 400px;
}


@media screen and (max-width: 480px) {

    .container{
        height: 600px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .flex{
        width: 50%;
        height: 200px;
        margin-left: 60px;
        display: flex;
        justify-content: center;
    }

    #one{
        width: 5px;
        height: 200px;
        margin-left: 20%;
        background-color: brown;
    }
    
    #two{
        width: 100px;
        height: 15px;
    }
    
    #three{
        width: 100px;
        height: 15px;
    }
    
    #four{
        width: 100px;
        height: 15px;
    }
    
    #circle{
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }

    #fifth{
        height: 10px;
        width: 70px;
    
    }
    
    #sixth{
        height: 10px;
        width: 100px;
    }
    
    #seventh{
        height: 10px;
        width: 130px;
    }

    .flex3{
        display: flex;
        /* justify-content: left;
        align-items: left; */
        width: 50%;
    }
}